* {
    box-sizing: border-box;
}

#navbar {
    display: flex;
    background-color: rgb(238, 128, 146);
    padding: 5px;
}

#navbar>a {
    padding: 10px;
    text-decoration: none;
    color: white;
}

#navbar>a:hover {
    background-color: rgb(255, 93, 118);
}





#registerform {
    width: 30%;
    margin: auto;
    background-color: rgb(50, 49, 49);
    color: white;
    border: 1px black;
    border-radius: 10px;
    padding: 40px;
}

#registerform>h2 {
    text-align: center;
}


.formdivs {
    padding: 3px;
}


.formdivtwo>input {
    border-color: grey;
    border-radius: 4px;
}

.formdivthree>input {
    border-color: grey;
    border-radius: 4px;
}

#registersection {
    background-image: url('images/ninjago.jpg');
    background-size: 100% 100%;
    padding: 20px;
}

#submitbutton {
    width: 100%;
    height: 35px;
}

#formparagraph {
    font-family: 'Courier New', Courier, monospace;
}

@media screen and (max-width: 800px) {
    #registerform {
        text-align: center;
        padding: 10px;
        width: 72%;
    }
    #registersection {
        width: 100%;
        background-image: url('images/greenscreen.jpg');
        background-size: cover;

    }
}